{% comment %} <li>1 {{ category_list }} </li>
<li>2 {{ object_list }} </li>
<li>3 {{ category }} </li>
<li>4 {{ post_list }} </li> {% endcomment %}
<!--
{% for post in post_list %}
    {% comment %} {{ post.category.slug }}:{{ post.slug }} {% endcomment %}
    <a href="{% url 'blog:post_detail' post.category.slug post.slug %}"><{{ post.category }}>-{{ post.title }}</a><br>
    {% comment %} {{ post.comment_set.all }} {% endcomment %}
{% endfor %}
-->
<h1>Category Detail</h1>
<hr>
{% for post in category.post_set.all %}
    <a href="{% url 'blog:post_detail' post.category.slug post.slug %}">{{ post.category }} {{ post.title }}<a>
    <hr>
{% endfor%}
