{% extends 'blog/base.html' %}

{% block blog %}
<li>1 {{ category }} </li>
<li>2 {{ category.slug }} </li>
<li>3 {{ category.post_set.all }} </li>
<li>4 {{ post_list }} </li>
<!--
{% for post in post_list %}
    {% comment %} {{ post.category.slug }}:{{ post.slug }} {% endcomment %}
    <a href="{% url 'blog:post_detail' post.category.slug post.slug %}"><{{ post.category }}>-{{ post.title }}</a><br>
    {% comment %} {{ post.comment_set.all }} {% endcomment %}
{% endfor %}
-->
<h1>Post List</h1>
{% for post in category.post_set.all %}
    <a href="{% url 'blog:post_detail' post.category.slug post.slug %}">{{ post.category }} {{ post.title }}<a>
    <hr>
{% endfor%}
{% endblock %}